.main-page {
  color: var(--p-text-color);
  background-color: var(--bg-color);
  min-height: 100vh;
}

.main-details {
  min-height: min-content;
  background-color: var(--bg-color);
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.main-details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--smoke-grey);
  opacity: 0.3;
  z-index: -2;
  pointer-events: none;
}

.main-details .smoke-particle {
  position: absolute;
  background: var(--p-text-color);
  border-radius: 50%;
  pointer-events: none;
  animation: smokeParticle 10s infinite ease-in-out;
  will-change: transform, opacity;
}

@keyframes smokeParticle {
  0% {
    transform: translate(var(--move-x, 0), var(--move-y, 0)) scale(1);
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    transform: translate(calc(var(--move-x, 0) * 2), calc(var(--move-y, 0) * 2))
      scale(1.5);
    opacity: 0;
  }
}
